.data {
  background-image: url("../img/counter-bg-1.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 28px;
  color: #ffffff;
   &__title{
     font-weight: 700;
     font-size: 48px;
     line-height: 72px;
     margin: 0;
   }
  &__body{
    display: flex;
    justify-content: space-between;
    gap: 84px;
    max-width: 334px;

    margin-top: 54px;
      }
}
.data__card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 0;
}