.discount{
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }

  &__form {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 30px;
    row-gap: 33px;
    align-content: center;

    &-btn{
      max-width: 370px;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &-check {
      grid-column-start: 1;
      grid-column-end: 4;
      text-align: center;
    }
  }
}

