.questions {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom:59px;
  }

  &__body {
    margin-left: 37px;
  }
}

.question{
  display: flex;

  & summary{
    cursor: pointer;
    list-style: none;
  }
  & summary::before{
    content: '\271A';
  }
  &[open] summary::before{
    content: '\2716';
    color: var(--accent-dark-color-color);
  }

  &__title{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    margin-top: 20;
    margin-bottom: 0;
    margin-left: 16px;

  }
  &[open] summary h3{
    color: var(--accent-dark-color-color);
  }

  &__desk{
    font-weight: 500;
    font-size: 16px;
    margin-right: 160px;
    margin-left: 37px;
  }
}
